IndentWidth: 4
Language: Cpp
PointerAlignment: Left
ColumnLimit: 90
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
BreakConstructorInitializers: BeforeColon
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    BeforeElse: true
    SplitEmptyRecord: false
Cpp11BracedListStyle: true
AllowAllConstructorInitializersOnNextLine : true
ConstructorInitializerAllOnOneLineOrOnePerLine : true
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
Standard: c++20
AllowAllParametersOfDeclarationOnNextLine : true
SortIncludes: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
